.title {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  color: brown;
  vertical-align: middle;
}

.left-logo {
  width: 20px;
  height: 15px;
  margin-right: 20px;
  margin-left: 2px;
  vertical-align: middle;
}

.right-logo {
  width: 20px;
  height: 15px;
  margin-left: 20px;
  vertical-align: middle;
}

.form {
  margin-top: 5px;
}

.label {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 16px;
}

.input {
  width: 200px;
  height: 15px;
  margin-left: 5px;
  border: 2px solid darkgray;
  border-radius: 2px;
  vertical-align: middle;
}

.buttonSubmit {
  margin-left: 5px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: lightskyblue;
  height: 23px;
  vertical-align: middle;
}

.container {
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.list-unchecked {
  margin-top: 5px;
}

.list-form-unchecked {
  height: 100px;
}

.list-checked {
  margin-top: 5px;
}

.list-form-checked {
  height: 100px;
}

.clear-button {
  width: 10px;
  margin-top: 8px;
  height: 10px;
}

.spacer {
  border: 1px solid green;
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
}

.button-sort {
  height: 23px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: lightskyblue;
  vertical-align: middle;
  margin-top: 12%;
}

#flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-item {
  width: auto;
  margin-top: 5px;
  margin-left: 10px;
}

.checkbox {
  margin-top: 10px;
}